requests
django>=2.2
djangorestframework>=3.10
django-filter
django-crispy-forms
django-dbbackup>=3
djangorestframework-jsonapi
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
pyyaml
uritemplate
