requests
django==2.2.13
djangorestframework==3.11.1
django-filter
django-crispy-forms
django-dbbackup>=3.2.0
djangorestframework-jsonapi
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
django-multiselectfield
pyyaml
uritemplate
jsonapi-client
