requests
django==2.2.10
djangorestframework==3.11.0
django-filter
django-crispy-forms
django-dbbackup>=3.2.0
djangorestframework-jsonapi
djangorestframework-jsonapi[django-filter]
djangorestframework-jsonapi[django-polymorphic]
pyyaml
uritemplate
jsonapi-client
