{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}InChI Resolver{% endblock %}

{% block bootstrap_theme %}
  <link href="{% static 'resolver/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'resolver/css/bootstrap-tweaks.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>
        {{ resolver_title|safe }}
    </a>
{% endblock %}

{% block bootstrap_navbar_variant %}
    {{ resolver_color_scheme|safe }} navbar-inverse
{% endblock %}